.container{
    margin-bottom: 100px;
}
.light-pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.buy-now-button{

     background-image: linear-gradient(to bottom, #ff58ff 0%, #ff136f 100%);
     color: white;
     border: none;
     border-radius: 8px;
     padding: 9px 25px;
     cursor: pointer;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-image: linear-gradient(to bottom, orange 0%, orangered 100%);

}

.cat2{
    background-image: linear-gradient(to bottom, pink 0%, darkorchid 100%);
  
}

.cat3{
    background-image: linear-gradient(to bottom, skyblue 0%, blue 100%);
}

.categories h1{
    color: white;
}
.categories img{
    border-radius: 10px;
}

#banner-img{
    border-radius: 10px;
}

.card{

    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

#contact{
    height: 300px;
}

#contact h6{
    color: gray;
}

footer{
    text-align: center;
}